@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Ubuntu Mono', 'serif';
  font-size: 10px;
  background: #e7e6e6;
}

body {
  font-size: 1.6rem;
  line-height: 1em;
  font-weight: 400;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2.4rem;
  line-height: 1em;
  font-weight: 700;
}

a, button {
  text-decoration: none;
  outline: none;
  transition: .3s;
  cursor: pointer;
}

ul {
  list-style: none;
}